# Package Information for pkg-config

prefix=@PREFIX@
exec_prefix=${prefix}
libdir=${exec_prefix}/lib
includedir=${prefix}/include

Name: Lib Swarmtv
Description: Lib SwarmTv RSS television
Version: 1.0.0
Libs: -lswarmtv
Cflags: -I${includedir}
